@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  /* border: 1px dashed #0808; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: indigo;
  color: white;
  font: normal 2vw "Roboto", sans-serif;
  --max-width: 40em;
  background-image: url(assets/bg-0.webp);
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
body::after {
  content: "";
  position: absolute;
  background-color: #0008;
  background-color: #0006;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}
section {
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  width: var(--max-width);
  margin: auto;
}

br {
  display: none;
}
p {
  display: none;
}
.p {
  display: block;
  margin: 0;
  padding: 0;
}
/*  */
.main_en p {
  font-weight: 900;

  /* font-size: 2.4em; */
  font-size: 2.8em;
  /* font-family: "Protest Revolution", sans-serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
  /* margin: 1em 0; */
  /* background-color: coral; */
  /* background-color: darkorchid; */
  /* background-color: indianred; */
  padding: 1em;
  /* background: #ecb207;
  background: linear-gradient(to bottom, #ffffff 0%, #cdcdcd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  margin: 0;
  padding: 0;
}
.main_es p {
  font-weight: 700;

  /* position: absolute; */
  /* background-color: #333c; */
  /* background-color: purple; */
  /* background-color: indigo; */
  /* background: #ecb207;
  background: linear-gradient(to bottom, #f9bc04 0%, #886602 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: goldenrod;
  /* background: #0002; */
  /* color: white; */
  /* background: #daa520; */
  /* color: gold; */
  /* color: orange; */
  /* color: #000; */

  bottom: 1em;
  font-size: 1.4em;
  padding: 1em 0;
  margin: 1em 0;
}
/* ========== Select... ========== */
select {
  position: fixed;
  bottom: 0.3em;
  right: 0.3em;
  opacity: 0.5;
  padding: 0.3em;
  opacity: 0;
  font-size: 1em;
  margin: 1em;
}
select:hover {
  opacity: 1;
  cursor: pointer;
}
/* ========== Select. ========== */

/* ========== Progress Bar... ========== */
.progress-container {
  background-color: #fff4;
  width: 100%;
  height: 3px;
  z-index: 0;
  position: absolute;
}
.progress {
  width: 1px;
  height: 3px;
  background: #fff;
  /* background: goldenrod; */
  /* background: indianred; */
  opacity: 0.9;
  transition: width 0.1s linear;
  position: fixed;
  z-index: 1;
  /* background-color: peru; */
}
/* ========== Progress Bar. ========== */
.chapter {
  position: absolute;
  font-size: 2em;
  left: 0.5em;
  top: 0.5em;
  color: #fffa;
  /* color: peru; */
  width: 1.3em;
  height: 1.3em;
  background-color: indigo;
  background-color: #0008;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.chapter span {
  padding: 1em;
  display: none;
}

footer,
.chapter_time {
  font-size: 1em;
  background-color: #0008;
  padding: 0.3em 0.7em;
  color: #fff8;
  position: fixed;
  border-radius: 1em;
}
footer {
  left: 1em;
  bottom: 1em;
}

.chapter_time {
  bottom: 1em;
  right: 1em;
}
